@keyframes bs {
   0% {
      box-shadow: none;
      transform: rotate(0);
   }
   50% {
      box-shadow: 0 0 1rem 1rem rgba(255, 255, 255, 0.3),
         0 0 1rem .5rem rgba(255, 255, 255, 0.6),
         0 0 1rem .2rem rgba(255, 255, 255, 0.9);
   }
   100% {
      transform: rotate(360deg);
   }
}

@keyframes spinner {
   0% {
      transform: rotate(0);
   }

   100% {
      transform: rotate(360deg);
   }
}

@keyframes spin {
   from {
      transform: rotate(0);
   }

   to {
      transform: rotate(360deg);
   }
}